.content_image {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url('../assets/Abstract.png'); */
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    z-index: -1;
    width: 95%;
    height: 95%;
    min-width: 150px;
    min-height: 150px;
    animation: levitateAndRotate 3s infinite ease-in;
  }

.loader {
    width: 100%;  /* Full width relative to its container */
    height: 100%; /* Full height relative to its container */
    max-width: 300px; /* Max width for large sizes */
    max-height: 300px; /* Max height for large sizes */
    border-radius: 50%;
    position: relative;
    background-color: rgba(17, 17, 16, 0.9); /* Dark base background */
    box-shadow: 0 0 50px 6px rgba(67, 58, 24, 0.5) inset,
                0 10px 20px rgba(22, 24, 22, 0.15);
    overflow: hidden;
  }
  
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 45%;
    top: -40%;
    background: linear-gradient(45deg, var(--orange-color), var(--green-color)); /* Gradient effect */
    animation: wave 5s linear infinite;
  }
  
  .loader:before {
    border-radius: 30%;
    background: linear-gradient(45deg, var(--orange-color), var(--green-color)); /* Gradient effect */
    opacity: 0.7;
    animation: wave 5s linear infinite;
  }
  
  @keyframes wave {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* Responsive Styles */
  @media (max-width: 1200px) {
    .loader {
      max-width: 250px;
      max-height: 250px;
    }
  }
  
  @media (max-width: 992px) {
    .loader {
      max-width: 200px;
      max-height: 200px;
    }
  }
  
  @media (max-width: 768px) {
    .loader {
      max-width: 150px;
      max-height: 150px;
    }
  }
  
  @media (max-width: 576px) {
    .loader {
      max-width: 120px;
      max-height: 120px;
    }
  }
  