@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --orange-color: #FF914D;  /* Orange */
    --green-color: #7FD858; /* Green */
    --main-dark: #333333;    /* Black */
    --text-color: #ffffff; /* White */
    --p-color: #C6C6C6; /* Light Grey */
    --main-font: "Lexend", sans-serif; /* Font */
    --secondary-font: "Helvetica Neue", sans-serif; /* Font */

    --standard: 300;
    --medium: 400;
    --max: 800;

    --small: 12px;
    --normal: 16px;
    --medium: 20px;
    --large: 96px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  /* padding: 0 50px; */
  position: relative;
  height: 100dvh;
  background-image: url('../assets/GlowBG.svg'), url('../assets/BG.png');
  background-color: #161616; /* base background color */
  background-size: cover, cover; /* first background covers, second is contained */
  background-position: top, right; /* positions for each background */
  background-repeat: no-repeat, no-repeat; /* repeat settings for each background */
  /* background: #161616 url(../assets/GlowBG.svg) no-repeat center center / cover; */
  /* background-color: #161616 ;
  background-image: url(../assets/GlowBG.svg);
  background-size: cover;
  background-repeat: no-repeat; */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--main-font);
}


body::after {
  content: '';
  position: absolute;
  z-index: -2;
  top: 70dvh; /* Starts after the initial viewport height */
  left: 0;
  width: 100%;
  height: 100dvh; /* This is the height of the 3rd background image */
  background-image: url('../assets/OrangeBG.png'), url('../assets/GlowOrange.png');
  background-size: cover, contain;
  background-position: right, bottom right;
  background-repeat: no-repeat, no-repeat;
}

body::before {
  content: '';
  position: absolute;
  z-index: -3;
  top: 150dvh; /* Starts after the initial viewport height */
  left: 0;
  width: 100%;
  height: 100dvh; /* This is the height of the 3rd background image */
  background-image: url('../assets/BG.png'), url('../assets/GlowOrange.png');
  background-size:  cover, contain;
  background-position: right, right;
  background-repeat: no-repeat, no-repeat;
  rotate: 180deg;
}

.background-layer-3 {
  content: '';
  position: absolute;
  z-index: -4;
  top: 220dvh;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-image: url('../assets/OrangeBG.png'), url('../assets/GlowGreen.png');
  background-size: cover, contain;
  background-position: center, left bottom;
  background-repeat: no-repeat, no-repeat;
}

.background-layer-4 {
  content: '';
  position: absolute;
  z-index: -3;
  top: 300dvh; /* Starts after the initial viewport height */
  left: 0;
  width: 100%;
  height: 100dvh; /* This is the height of the 3rd background image */
  background-image: url('../assets/BG.png'), url('../assets/GlowOrange.png');
  background-size:  cover, contain;
  background-position: right, right;
  background-repeat: no-repeat, no-repeat;
  rotate: 180deg;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* max-width: 1440px; */
  height: 100dvh
}

.mission_container{
  margin-top: 150px;
  z-index: -1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.future_plans{
  /* height: 100%; */
  margin-top: 150px;
  z-index: -1;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #ffffff;
  font-family: var(--secondary-font);
}

.future_plans h1{
  font-size: 54px;
  font-weight: var(--max);
  margin-bottom: 50px;
}

.future_plans p{
  font-size: 32px;
  font-weight: var(--standard);
  margin-top: 26px;
}


.img_for_plans img{
  background-size: cover;
  height: 100%;
  width: 100%;
  margin-top: 45px;
}

.content{
  width: 100%;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  font-family: var(--secondary-font);
  margin-top: 65px;
}

.content,
.mission_container,
.timeline_container,
.future_plans{
  max-width: 1440px;
  padding: 0 50px;
}

/* Nav */
nav {
  width: 100%;
  margin-top: 50px;
  height: 95px;
  padding: 1.5rem 2.5rem;
  background-color: #1c1c1c;
  border: 1px solid #262626;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}
nav svg {
  display: none;
}
.nav-items {
  display: flex;
  justify-content: space-between;
}
.overview{
  display: flex;
}
nav li {
  list-style: none;
  margin: 0 0.5rem;
}
nav a {
    font-weight: var(--medium);
  text-decoration: none;
  color: rgb(220, 220, 220);
}
nav a:hover {
  color: var(--orange-color);
}
/* nav a::after {
  content: "";
  display: block;
  height: 3px;
  background: #a0ebfd;
  width: 0%;
  transition: all ease-in-out 300ms;
}
nav a:hover::after {
  width: 100%;
} */
/* #check, */
.menu {
  display: none;
}

.nav-items button{
    display: none;
}


.button_style{
    padding: 14px 30px;
    border-radius: 82px;
    border: none;
    background-color: var(--orange-color);
    color: var(--text-color);
    font-size: var(--normal);
    cursor: pointer;
    font-weight: var(--standard);
}

.button_style:hover{
    background-color: #eb6f23;
    transition: all 0.3s ease;
    color: var(--main-dark);
}
.content_image {
  background-image: url('../assets/Abstract.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  z-index: -1;
  width: 95%;
  height: 95%;
  min-width: 250px;
  min-height: 250px;
  /* animation: levitateAndRotate 3s infinite ease-in; */
}

/* @keyframes levitateAndRotate {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  25% {
    transform: translateY(-10px) rotate(1deg);
  }
  50% {
    transform: translateY(-15px) rotate(2deg);
  }
  75% {
    transform: translateY(-10px) rotate(1deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }

} */

.content_text{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 700px;
}

.content_text h1{
  font-size: var(--large);
  color: var(--text-color);
  font-weight: var(--medium);
}

.content_text p{
  font-size: var(--medium);
  font-weight: var(--standard);
  color: var(--p-color);
  line-height: 30px;
  max-width: 700px;
}

.green{
  color: var(--green-color);
}

.button_style .icon{
  display: none;
}

.down_button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}


.arrow {
  animation: arrowAnimation 1s infinite alternate;
}

.toggle_button{
  display: none;
}

@keyframes arrowAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px); /* Adjust the distance as needed */
  }
}


@media screen and (max-width: 1300px) {
  .content_image {
    width: 80%;
    height: 80%;
    min-width: 250px;
    min-height: 250px;
    /* animation: levitateAndRotate 3s infinite ease-in; */
  }

  .content_text h1{
    font-size: 72px;
  }
}


/* Responsive */
@media screen and (max-width: 1240px) {
  .grid-container {
    grid-template-columns: repeat(2, minmax(350px, 1fr)) !important;
  }

  .mission-item{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}

@media screen and (max-width: 1052px) {
  /* body{
    padding: 30px;
  } */

  .future_plans h1{
    font-size: 42px;
  }
  
  .future_plans p{
    font-size: 24px;
  }

  .content,
.mission_container,
.timeline_container,
.future_plans{
  max-width: 1440px;
  padding: 0 30px;
}

.nav{
  padding: 0 30px !important;
}

  nav{
    margin-top: 10px;
    padding: 1.5rem;
  }

  .logo img{
    width: 100px;
  }

  .for_nav{
    padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .button_style .text{
    display: none;
  }

  .button_style .icon{
    display: block;
  }

  .content_text h1{
    font-size: 64px;
  }
  .content_text p{
    font-size: 18px;
  }
}

@media screen and (max-width: 834px) {
  body{
    padding: 0;
  }

  .future_plans h1{
    font-size: 36px;
  }
  
  .future_plans p{
    font-size: 20px;
  }
  

  .nav{
    padding: 0 !important;
  }

  .mission_container{
    padding: 20px !important;
  }
  .grid-container {
    grid-template-columns: repeat(2, minmax(250px, 1fr)) !important;
  }
  .nav-items {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    flex-direction: column;
    /* justify-content: space-evenly; */
    background-color: #1c1c1c;
    padding: 2rem;
    transition: transform 0.5s ease-in-out;
    transform: translateX(100%); /* Start off-screen */
  }
  
  .nav-items.show {
    transform: translateX(0); /* Slide in to visible position */
    display: flex;
  }
  
  .overview {
    flex-direction: column;
    width: auto;
  }
  .overview {
    margin-top: 150px;
  }

  nav {
    margin-top: 0;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    border: none;
    top: 0;
  }
  nav svg {
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
  }
  nav li {
    margin: 1rem 0;
  }
  nav a {
    display: inline-block;
  }
  nav a:hover {
    margin-left: 2px;
    transition: all ease-in-out 300ms;
  }
  .menu {
    display: inline-block;
    /* position: fixed; */
    right: 2.5rem;
    z-index: 99;
  }

  .toggle_button{
    background-color: transparent;
    border: none;
    z-index: 99;
    display: block;
  }

  #menu-icon {
    transition: transform 0.3s ease;
  }
  
  /* When the menu is open (toggle class) change the icon to X */
  .nav-items.show + .toggle_button #menu-icon {
    transform: rotate(90deg); /* Rotate the burger to X */
  }
  /* #check:checked ~ .nav-items {
    right: 0;
  } */

  .nav-items button{
    display: block;
}

.button_for_nav{
    display: none;
}

.content{
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.content_text h1{
  font-size: 54px;
}

.content_text p{
  font-size: 20px;
}

main {
  padding: 20px;
}


.timeline_container h1{
  font-size: 48px !important;
}
.timeline_section{
  flex-direction: column-reverse;
  align-items: center;
}

.timeline p{
  padding: 20px !important;
}

.jelifish svg{
  width: 200px !important;
  height: 200px !important;
}
}

@media screen and (max-width: 520px) {  
  .future_plans p{
    text-align: center;
    font-size: 18px;
  }
  
  .mission_container{
    padding: 20px !important;
  }
  .grid-container {
    grid-template-columns: repeat(1, minmax(250px, 1fr)) !important;
  }

  .mission-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .mission_headline{
    padding: 30px !important;
    text-align: center !important;
  }

  .mission-item img{
    /* width: 30px;
    height: 30px; */
    max-width: 50px;
    max-height: 50px;
    padding: 10px !important;
  }

  .mission-goals h2{
    font-size: 32px !important;
    font-weight: var(--medium);
  }

  .mission-goals p{
    margin-top: 8px;
    font-size: 12px !important;
  }

  .mission-item p{
    font-size: 16px !important;
    margin: 0 !important;
  }

  .timeline_container{
    margin-top: 80px !important;
  }

  .timeline_container h1{
    font-size: 32px !important;
  }
}

@media screen and (max-width: 420px) {
  .content_text h1{
    font-size: 36px;
  }
  .content_text p{
    font-size: 16px;
  }
}

/* Show the nav items when the checkbox is checked */
/* #check:checked ~ .nav-items {
    display: block;
} */


.mission_headline{
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 50px;
}

.mission-goals {
  max-width: 1440px;
  width: 100%;
  z-index: -1;
  background: rgba(109, 107, 107, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  /* padding: 50px; */
  margin: 50px 0;
  border: 2px solid rgba(255, 255, 255, 0.2);
}


.mission-goals h2 {
  width: 100%;
  font-size: 55px;
  color: #fff;
  font-family: var(--secondary-font);
}

.mission-goals p {
  font-size: 16px;
  color: #E6E6E6;
  font-weight: 300;
  font-family: var(--secondary-font);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(280px, 1fr));
  /* margin-top: 20px; */
}

.mission-item:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.mission-item{
  padding: clamp(20px, 5vw, 50px);
  font-size: 16px;
  font-weight: 300;
}

.mission-item h3 {
  margin-top: 0;
  font-size: 1.5rem;
}

.mission-item p {
  font-size: 20px;
  color: #fff;
  max-width: 220px;
  margin-top: 30px;
}

.mission-item img {
  border: 1px solid #ccc;
  object-fit: cover;
  border-radius: 8px;
  padding: 25px;
}





/* Initial hidden state */
.hidden {
  opacity: 0;
  transform: translateY(50px); 
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Visible state for the animation */
.show {
  opacity: 1;
  transform: translateY(0); /* Reset the slide */
}




/* Initial hidden state */
.container .content {
  z-index: -1;
  opacity: 0;
  /* transform: translateY(50px);  */
  transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Animation when element is in view */
.container .content.in-view {
  opacity: 1;
  transform: translateY(0); /* Slide to original position */
}











@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

main {
  min-width: 300px;
  max-width: 500px;
  margin: auto;
}

.timeline_container{
  /* width: 100%;
  margin-top: 150px;
  height: 100vh;
  margin-bottom: 50px; */
  margin-top: 150px;
  z-index: -1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline_section{
  display: flex;
  justify-content: space-around;
  margin-top: 76px;
}

.plans{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: #ffffff;
  font-family: var(--secondary-font);
}

/* .jelifish{
  margin-right: 150px;
} */

.timeline p {
  font-size: 1em;
  line-height: 1.75em;
  border-top: 3px solid;
  border-image: linear-gradient(to right, #ff914d 0%, #7FD858 100%);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  padding: 40px;
  counter-increment: section;
  position: relative;
  color: #ffffff;
  
  opacity: 0; /* Initially hidden */
  transform: translateY(20px); /* Initially positioned slightly lower */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Smooth transition */
}

.timeline p.in-view {
  opacity: 1; /* Become visible */
  transform: translateY(0); /* Move to the original position */
}

.timeline p:nth-child(odd) {
  border-right: 3px solid;
  padding-left: 0;
  
  &:before {
    left: 100%; 
    margin-left: -20px;
  }
}

.timeline p:nth-child(even) {
  border-left: 3px solid;
  padding-right: 0;
  
  &:before {
    right: 100%; 
    margin-right: -20px;
  }
}

.timeline p:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}

.timeline p:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}


.green_span{
  color: var(--green-color);
}

.orange_span{
  color: var(--orange-color);
}




















@keyframes bounce {
  0%,
  100% {
    translate: 0px 36px;
  }
  50% {
    translate: 0px 46px;
  }
}
@keyframes bounce2 {
  0%,
  100% {
    translate: 0px 46px;
  }
  50% {
    translate: 0px 56px;
  }
}

@keyframes umbral {
  0% {
    stop-color: #d3a5102e;
  }
  50% {
    stop-color: rgba(211, 165, 16, 0.519);
  }
  100% {
    stop-color: #d3a5102e;
  }
}
@keyframes partciles {
  0%,
  100% {
    translate: 0px 16px;
  }
  50% {
    translate: 0px 6px;
  }
}
#particles {
  animation: partciles 4s ease-in-out infinite;
}
#animatedStop {
  animation: umbral 4s infinite;
}
#bounce {
  animation: bounce 4s ease-in-out infinite;
  translate: 0px 36px;
}
#bounce2 {
  animation: bounce2 4s ease-in-out infinite;
  translate: 0px 46px;
  animation-delay: 0.5s;
}











footer {
  background-color: #242424;
  margin-top: 50px;
  width: 100%;
  color: #fff;
  padding: 20px;
  font-family: var(--secondary-font);
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 80px;
  align-items: flex-start;
  margin-bottom: 20px;
}

.footer-logo img {
  max-width: 250px;
}

.footer-content,
.footer-contact {
  flex: 1;
  margin: 10px;
  max-width: 250px;
}

.footer-content h3,
.footer-contact h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer-content ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
}

.footer-content li {
  margin: 5px 0;
}

.footer-content a {
  color: #fff;
  text-decoration: none;
}

.footer-content a:hover {
  color: var(--orange-color);
  transition: all 0.3s ease;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  border-top: 1px solid #444;
  padding-top: 10px;
}

.developer-name {
  color: orange;
}

#scroll-to-top {
  background-color: orange;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
  cursor: pointer;
}

#scroll-to-top:hover {
  background-color: #f79c4d;
}

@media screen and (max-width: 768px) {
  footer{
    margin-top: 100px;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer-content,
  .footer-contact {
    text-align: center;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }
}


@media screen and (max-width: 520px) {
  footer{
    /* margin-top: 180px; */
    position: relative;
    margin-top: 250px !important;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer-content,
  .footer-contact {
    text-align: center;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }
}

.nav{
  width: 100%;
  padding: 0 50px;
}